<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.order_detail_id}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.total_price}}</td>
            <td>{{this.item_id}}</td>
            <td>{{this.store_id}}</td>
            <td>{{this.order_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>